@model LMS.Context.Feedback

@using (Html.BeginForm("Commentpopup", "LetterSending", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="">
        <fieldset class="mb-3">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-12 border-right p-2">
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label LetterDate">Date</label>
                        <div class="col-lg-8">
                            @ViewBag.DateOfToday
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label ReferenceNO">Ref.NO#</label>
                        <div class="col-lg-8">
                            @ViewBag.ReferenceNo
                        </div>
                    </div>                  
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label ReferenceNO">Responsible</label>
                        <div class="col-lg-8">
                            @ViewBag.Responsible
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label ReferenceNO">LetterStatus</label>
                        <div class="col-lg-8">
                            @Html.DropDownListFor(a => a.StatusOfLetter, ViewBag.letterStatusList as SelectList, "--Select status--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.StatusOfLetter, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label BranchId">Assign</label>
                        <div class="col-lg-8">                         
                            @Html.DropDownListFor(a => a.Assign, ViewBag.designationList as SelectList, "--Select a Person--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.Assign, "", new { @class = "text-danger" })                          
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label LetterType">FeedBack</label>
                        <div class="col-lg-8">
                            @Html.TextAreaFor(a => a.Comment, new { @class = "form-control", @placeholder = "Write a comment" })
                            @Html.ValidationMessageFor(a => a.Comment, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Submit</button>                     
                    </div>
                </div>
            </div>
        </fieldset>  
    </div>
}

