@model LMS.Models.FeedBackViewModel

@using (Html.BeginForm("Commentpopup", "LetterSending", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="">
        <fieldset class="mb-3">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-12 border-right p-2">
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label ReferenceNO">Ref.NO#</label>
                        <div class="col-lg-8">
                            @ViewBag.ReferenceNo
                        </div>
                    </div>                  
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label ReferenceNO">Responsible</label>
                        <div class="col-lg-8">
                            @ViewBag.Responsible
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label ReferenceNO">LetterStatus</label>
                        <div class="col-lg-8">
                           @Html.DropDownListFor(x => x.LetterStatus, new List<SelectListItem>
                           {
                            new SelectListItem() {Text = "--Select Status--", Value="--Select Status--"},
                            new SelectListItem() {Text = "InProcess", Value="InProcess"},
                            new SelectListItem() {Text = "Closed", Value="Closed"}
                          })
                            
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label BranchId">Assign</label>
                        <div class="col-lg-8">
                            @Html.DropDownList("Designation", ViewBag.Designations as SelectList, "--Select a Person--")
                            @Html.ValidationMessageFor(a => a.Assign)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label LetterDate">Comment Date</label>
                        <div class="col-lg-8">
                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label LetterType">FeedBack</label>
                        <div class="col-lg-8">
                            @Html.TextAreaFor(a => a.Comment, new { @class = "form-control", @placeholder = "Write a comment" })
                            @Html.ValidationMessageFor(a => a.Comment)
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-md btn-block">Submit</button>

                </div>
            </div>
        </fieldset>  
    </div>
}

