@model LMS.Models.LetterViewModel
@{
    ViewBag.Title = "IncomingLetter";
    Layout = "~/Views/Shared/_masterlayout.cshtml";
}


<link href="~/Content/form.css" rel="stylesheet" />
@using (Html.BeginForm("IncomingLetter", "LetterSending", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="">
        <fieldset class="mb-3">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6 border-right p-2">
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label SenderId">Letter From</label>
                        <div class="col-lg-8">
                            @Html.TextBoxFor(a => a.LetterFrom, new { @class = "form-control", @placeholder = "Letter From" })
                            @Html.ValidationMessageFor(a => a.LetterFrom)
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label Subject">Subject</label>
                        <div class="col-lg-8">
                            @Html.TextBoxFor(a => a.Subject, new { @class = "form-control", @placeholder = "Subject" })
                            @Html.ValidationMessageFor(a => a.Subject)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label ReferenceNO">Reference NO.#</label>
                        <div class="col-lg-8">
                            @Html.TextBoxFor(a => a.ReferenceNo, new { @class = "form-control", @placeholder = "Reference number" })
                            @Html.ValidationMessageFor(a => a.ReferenceNo)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label LetterDate">Letter Date</label>
                        <div class="col-lg-8">
                            @Html.EditorFor(model => model.LetterDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LetterDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label ReceiveDate">Receive Date</label>
                        <div class="col-lg-8">
                            @Html.EditorFor(model => model.ReceiveDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ReceiveDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6 border-left p-2">
                    
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label RecipientId">Assign</label>
                        <div class="col-lg-8">
                            @Html.TextBoxFor(a => a.Responsible, new { @class = "form-control", @placeholder = "Letter From" })
                            @Html.ValidationMessageFor(a => a.Responsible)
                        </div>
                    </div>
                    @*<div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label BranchId">Branch Name</label>
                        <div class="col-lg-8">
                            @Html.TextBoxFor(a => a.BranchName, new { @class = "form-control", @placeholder = "Branch Name" })
                            @Html.ValidationMessageFor(a => a.BranchName)
                        </div>
                    </div>*@
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label LetterType">Letter Type</label>
                        <div class="col-lg-8">
                            @Html.TextBoxFor(a => a.LetterType, new { @class = "form-control", @placeholder = "Letter Type" })
                            @Html.ValidationMessageFor(a => a.LetterType)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label LetterStatusId">Letter Status</label>
                        <div class="col-lg-8">
                            @Html.TextBoxFor(a => a.LetterStatus, new { @class = "form-control", @placeholder = "Letter Status" })
                            @Html.ValidationMessageFor(a => a.LetterStatus)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label LetterStatusId"> Upload Image</label>
                        <input type="file" name="ImageFile" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-md btn-block">Submit</button>

                </div>
            </div>
        </fieldset>
    </div>
}