@model LetterManagementSystem.Context.Letter
@{
    ViewBag.Title = "IncomingLetter";
    Layout = "~/Views/Shared/_masterlayout.cshtml";
}


<link href="~/Content/form.css" rel="stylesheet" />
  @using (Html.BeginForm("IncomingLetter", "LetterSending", FormMethod.Post, new { enctype = "multipart/form-data" }))
  {
        <div class="">
            <fieldset class="mb-3">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6 border-right p-2">
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-3 col-form-label SenderId">Sender ID</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(a => a.SenderId, new { @class = "form-control", @placeholder = "Sender ID" })
                                @Html.ValidationMessageFor(a => a.SenderId)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-3 col-form-label RecipientId">Recipient ID</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(a => a.RecipientId, new { @class = "form-control", @placeholder = "Recipient ID" })
                                @Html.ValidationMessageFor(a => a.RecipientId)
                            </div>

                            @*<select>
                                <option>Select</option>
                                <option>MD</option>
                                <option>CFO</option>
                                <option>IT HEAD</option>
                                <option>HR HEAD</option>
                            </select>*@
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-3 col-form-label Subject">Subject</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(a => a.Subject, new { @class = "form-control", @placeholder = "Subject" })
                                @Html.ValidationMessageFor(a => a.Subject)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-3 col-form-label ReferenceNO">Reference NO.#</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(a => a.ReferenceNo, new { @class = "form-control", @placeholder = "Reference number" })
                                @Html.ValidationMessageFor(a => a.ReferenceNo)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-3 col-form-label LetterDate">Letter Date</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(x => x.LetterDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @placeholder = "Letter Date" })
                                @Html.ValidationMessageFor(a => a.LetterDate)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-3 col-form-label ReceiveDate">Receive Date</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(x => x.ReceiveDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @placeholder = "Receive Date" })
                                @Html.ValidationMessageFor(a => a.ReceiveDate)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 border-left p-2">
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-3 col-form-label BranchId">Branch ID</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(a => a.BranchId, new { @class = "form-control", @placeholder = "Branch ID" })
                                @Html.ValidationMessageFor(a => a.BranchId)
                            </div>

                            @*<select>
                                <option>Select</option>
                                <option>DilKusha Branch</option>
                                <option>Chittagong Branch</option>
                                <option>Jossore Branch</option>
                                <option>Khulna Branch</option>
                            </select>*@
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-3 col-form-label LetterType">Letter Type</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(a => a.LetterType, new { @class = "form-control", @placeholder = "Letter Type" })
                                @Html.ValidationMessageFor(a => a.LetterType)
                            </div>

                            @*<select>
                                <option>Select</option>
                                <option>Inviatation</option>
                                <option>Proposal</option>
                                <option>Confirmation</option>
                            </select>*@
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-3 col-form-label LetterStatusId">Letter Status ID</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(a => a.LetterStatusId, new { @class = "form-control", @placeholder = "Letter Status ID" })
                                @Html.ValidationMessageFor(a => a.LetterStatusId)
                            </div>
                           @*<select>
                                <option>Select</option>
                                <option>In Processing</option>
                                <option>Closed</option>
                            </select>*@
                        </div>               
                        <div class="form-group">
                            <label for="colFormLabelSm" class="col-sm-3 col-form-label LetterStatusId">Scaned Image</label>
                            <div class="col-lg-8">
                               <input type="file" name="ImageFile" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-md btn-block">Submit</button>

                    </div>
                </div>
            </fieldset>
        </div>
  }